<div class="wrapper">
    <div class="container">
        <div class="header">
            <div class="name">{{name}}</div>
            <div class="btn" (click)="logout()">
                <button>Logout!</button>
            </div>


        </div>
        <div class="messageContainer">
            <div class="messages">
                <div>

                    <ul>
                        <li [ngClass]="user === message.loginUser ? 'right' : 'left'"
                            *ngFor="let message of showMessages">
                            <label>{{user === message.loginUser ? "You" : name}}</label>
                            <div style="display: flex;justify-content: space-between;">

                                <div> {{message.message}}</div>
                                <div>

                                    <small style="text-align: center;">{{getTime(message.timestamp)}}</small>
                                </div>
                            </div>
                        </li>


                    </ul>

                </div>

            </div>
            <div>
                <app-sentmessagebox></app-sentmessagebox>
            </div>

        </div>


    </div>
</div>