<div class="wrapper">
    <div class="container">
        <div>

            <div class="search">
                <label>
                    <div class="icon">
                        <fa-icon [icon]="search"></fa-icon>
                    </div>
                    <input type="text" placeholder="Search..." />


                </label>

            </div>
            <div class="users">
                <div (click)="sendId(user.id)" class="user" *ngFor="let user of showUsers" [routerLink]="user.id">
                    <div class="name">{{user.name}}</div>
                    <!-- <div class="time">12:45pm</div> -->
                </div>




            </div>

        </div>
    </div>

</div>